# Exercise 2

In [143]:
import pandas as pd
import numpy as np

sales_data = pd.read_csv("SalesData.csv", index_col=0)
sales_data

,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18,Oct-18,Nov-18,Dec-18,Jan-19,Feb-19,Mar-19
L3,390,345,379,353,365,326,363,459,539,474,340,343
L1,392,377,347,395,330,332,340,446,573,464,223,216
P2,250,270,300,398,376,382,306,489,552,488,298,269
N6,460,480,450,310,392,383,314,402,640,495,215,243
N4,460,480,450,387,388,320,337,478,676,408,338,263
B8,470,510,360,472,423,385,353,464,598,419,459,659

## What were the sales for P2 and B8 in Nov-18, Feb-18 and Mar-19?

In [144]:
months_wanted = ['Nov-18', 'Mar-19']
stores_wanted = ['P2', 'B8']
results = sales_data.loc[stores_wanted, months_wanted]
results

    Nov-18  Mar-19
P2     489     269
B8     464     659

## In the third quarter (Oct-18 to Dec-18) what were the sales figures for London (L3 & 2) and what was the monthly percentage increase?

In [145]:
months_wanted = ['Oct-18', 'Nov-18', 'Dec-18']
L3_sales = sales_data.loc['L3',:].to_frame().transpose()
L3_sales

,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18,Oct-18,Nov-18,Dec-18,Jan-19,Feb-19,Mar-19
L3,390,345,379,353,365,326,363,459,539,474,340,343

In [146]:
L3_sales = L3_sales.append(L3_sales.pct_change(axis=1))
L3_sales.index = L3_sales.index.where(~L3_sales.index.duplicated(), '%change')
L3_sales.loc['%change'] = L3_sales.loc['%change'] *100
results = L3_sales.loc[:, months_wanted]
results

             Oct-18      Nov-18      Dec-18
L3       363.000000  459.000000  539.000000
%change   11.349693   26.446281   17.429194

## What were the top three months for New York (N6 and N4) and in which stores did they occur?

In [147]:
stores = ['N6', 'N4']
N6N4 = sales_data.loc[stores]
max_values = N6N4.max().sort_values(ascending = False)

In [148]:
# find out which store the max value is in
for i in list(max_values.index.values[:3]):
    print (f"{i} Store: {N6N4[i].idxmax()} Amount: {max_values[i]}")

Dec-18 Store: N4 Amount: 676
Jan-19 Store: N6 Amount: 495
May-18 Store: N6 Amount: 480

## What was the overall lowest sales figure in which store and which month?

In [149]:
month_of_lowest = sales_data.min().idxmin()
lowest_amount = sales_data.min().min()
lowest_store = sales_data[month_of_lowest].idxmax()
print (f"{month_of_lowest} Store: {lowest_store} Amount: {lowest_amount}")

Feb-19 Store: B8 Amount: 215

# Exercise 3

### Using the data set from exercise 2, above, create a new data table, including headings, that gives the percentage increase for each month, based on the stores average for the year. From this ascertain:

In [152]:
monthly_increase = sales_data.pct_change(axis=1) 
monthly_increase

,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18,Oct-18,Nov-18,Dec-18,Jan-19,Feb-19,Mar-19
L3,NaN,-0.115385,0.098551,-0.068602,0.033994,-0.106849,0.113497,0.264463,0.174292,-0.120594,-0.282700,0.008824
L1,NaN,-0.038265,-0.079576,0.138329,-0.164557,0.006061,0.024096,0.311765,0.284753,-0.190227,-0.519397,-0.031390
P2,NaN,0.080000,0.111111,0.326667,-0.055276,0.015957,-0.198953,0.598039,0.128834,-0.115942,-0.389344,-0.097315
N6,NaN,0.043478,-0.062500,-0.311111,0.264516,-0.022959,-0.180157,0.280255,0.592040,-0.226562,-0.565657,0.130233
N4,NaN,0.043478,-0.062500,-0.140000,0.002584,-0.175258,0.053125,0.418398,0.414226,-0.396450,-0.171569,-0.221893
B8,NaN,0.085106,-0.294118,0.311111,-0.103814,-0.089835,-0.083117,0.314448,0.288793,-0.299331,0.095465,0.435730

In [157]:
## Which store had the largest and smallest increase and in which months did they occur?
y, x = monthly_increase.stack().idxmin()
print(monthly_increase.loc[[y], [x]])

y, x = monthly_increase.stack().idxmax() 
print(monthly_increase.loc[[y], [x]])

      Feb-19
N6 -0.565657
      Nov-18
P2  0.598039

In [161]:
## Across all the stores which months showed the smallest average increase and the largest average increase?

Apr-18         NaN
May-18    0.016402
Jun-18   -0.048172
Jul-18    0.042732
Aug-18   -0.003759
Sep-18   -0.062147
Oct-18   -0.045251
Nov-18    0.364561
Dec-18    0.313823
Jan-19   -0.224851
Feb-19   -0.305534
Mar-19    0.037364
dtype: float64