# Exercise 2

In [32]:
import pandas as pd
import numpy as np

sales_data = pd.read_csv("SalesData.csv", index_col=0)
sales_data

,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18,Oct-18,Nov-18,Dec-18,Jan-19,Feb-19,Mar-19
L3,390,345,379,353,365,326,363,459,539,474,340,343
L1,392,377,347,395,330,332,340,446,573,464,223,216
P2,250,270,300,398,376,382,306,489,552,488,298,269
N6,460,480,450,310,392,383,314,402,640,495,215,243
N4,460,480,450,387,388,320,337,478,676,408,338,263
B8,470,510,360,472,423,385,353,464,598,419,459,659

## What were the sales for P2 and B8 in Nov-18, Feb-18 and Mar-19?

In [33]:
months_wanted = ['Nov-18', 'Mar-19']
stores_wanted = ['P2', 'B8']
results = sales_data.loc[stores_wanted, months_wanted]
results

    Nov-18  Mar-19
P2     489     269
B8     464     659

## In the third quarter (Oct-18 to Dec-18) what were the sales figures for London (L3 & 2) and what was the monthly percentage increase?

In [34]:
months_wanted = ['Oct-18', 'Nov-18', 'Dec-18']
L3_sales = sales_data.loc['L3',:].to_frame().transpose()
L3_sales

,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18,Oct-18,Nov-18,Dec-18,Jan-19,Feb-19,Mar-19
L3,390,345,379,353,365,326,363,459,539,474,340,343

In [35]:
L3_sales = L3_sales.append(L3_sales.pct_change(axis=1))
L3_sales.index = L3_sales.index.where(~L3_sales.index.duplicated(), '%change')
L3_sales.loc['%change'] = L3_sales.loc['%change'] *100
results = L3_sales.loc[:, months_wanted]
results

             Oct-18      Nov-18      Dec-18
L3       363.000000  459.000000  539.000000
%change   11.349693   26.446281   17.429194

## What were the top three months for New York (N6 and N4) and in which stores did they occur?

In [36]:
stores = ['N6', 'N4']
N6N4 = sales_data.loc[stores]
max_values = N6N4.max().sort_values(ascending = False)

In [37]:
# find out which store the max value is in
for i in list(max_values.index.values[:3]):
    print (f"{i} Store: {N6N4[i].idxmax()} Amount: {max_values[i]}")

Dec-18 Store: N4 Amount: 676
Jan-19 Store: N6 Amount: 495
May-18 Store: N6 Amount: 480

## What was the overall lowest sales figure in which store and which month?

In [38]:
month_of_lowest = sales_data.min().idxmin()
lowest_amount = sales_data.min().min()
lowest_store = sales_data[month_of_lowest].idxmax()
print (f"{month_of_lowest} Store: {lowest_store} Amount: {lowest_amount}")

Feb-19 Store: B8 Amount: 215

# Exercise 3

### Using the data set from exercise 2, above, create a new data table, including headings, that gives the percentage increase for each month, based on the stores average for the year. From this ascertain:

In [39]:
percent_change_from_mean = sales_data = sales_data.apply(lambda row : row.apply(lambda x : (x - row.mean())/row.mean())) 
percent_change_from_mean
# got this code from Rosie's solution

,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18,Oct-18,Nov-18,Dec-18,Jan-19,Feb-19,Mar-19
L3,-0.033856,-0.159220,-0.005249,-0.085097,-0.036939,-0.080827,0.081967,0.005844,-0.096143,0.034934,0.089162,0.032614
L1,-0.028902,-0.081235,-0.089239,0.023758,-0.129288,-0.063910,0.013413,-0.022644,-0.039128,0.013100,-0.285638,-0.349724
P2,-0.380677,-0.341998,-0.212598,0.031533,-0.007916,0.077068,-0.087928,0.071585,-0.074343,0.065502,-0.045382,-0.190166
N6,0.139554,0.169781,0.181102,-0.196544,0.034301,0.079887,-0.064083,-0.119065,0.073225,0.080786,-0.311265,-0.268440
N4,0.139554,0.169781,0.181102,0.003024,0.023747,-0.097744,0.004471,0.047480,0.133594,-0.109170,0.082755,-0.208229
B8,0.164327,0.242892,-0.055118,0.223326,0.116095,0.085526,0.052161,0.016801,0.002795,-0.085153,0.470368,0.983944

## Which store had the largest and smallest increase and in which months did they occur?

In [40]:
y, x = percent_change_from_mean.stack().idxmin()
print(percent_change_from_mean.loc[[y], [x]])

y, x = monthly_increase.stack().idxmax() 
print(monthly_increase.loc[[y], [x]])

      Apr-18
P2 -0.380677
      Mar-19
B8  0.983944

## Across all the stores which months showed the smallest average increase and the largest average increase?

In [41]:
mean_percentage_change = percent_change_from_mean.mean(axis=1)
print(f"Biggest change: {mean_percentage_change.idxmax()} {mean_percentage_change.max()}")
print(f"Smallest change: {mean_percentage_change.idxmin()} {mean_percentage_change.min()}")

Biggest change: B8 0.1848303366643321
Smallest change: P2 -0.09127667159485577